@font-face {
    font-family: JetBrainsMono-NerdFont;
    src: url(fonts/JetBrainsMonoNerdFont-Regular.ttf);
}

@font-face {
    font-family: PromptTitle;
    src: url(fonts/Prompt-BlackItalic.ttf);
}

body {
    /*  Background picture by: Carl Frederik Aagaard, 1883 */  
    background-color: white;
    background: url(images/new_background.png); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
    height: 100%;
    min-height: 100%;
    text-align: center;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#homepage_text { /* This is the big ARTHUR CARRELL */
    font-family: PromptTitle;
    font-size: 400%;
    text-align: center;
    user-select: none;
}

.image-credits {
    position: relative;
    text-align: center; 
    margin-top: 12%;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    width: 40%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 